/* Index */
body{
  height: 2vh;
}
#Index {
    width: 100%;
    background: rgb(14, 11, 11);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  #Index section {
    width: 80%;
    background-color: black;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    color: grey;
    padding: 20px;
  }
  
  .carousel-inner img {
    width: 400px;
    height: 400px;
    padding: 10px 60px;
  }
  
  
  .indexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 30px;
    padding-bottom: 25px;
  }
  
  #index a {
    font-size: 20px;
  }
  





/* Próximos Estrenos */
.peliculaEstreno-container {
    display: flex;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    padding: 10px;
  }
  
  .peliculaEstreno {
    flex: 0 0 auto;
    margin-right: 10px; /* Espacio entre las películas */
    width: 300px; /* Ancho fijo para cada película, ajusta según tus necesidades */
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 5px rgba(8, 8, 8, 0.2);
    border-radius: 10px;
    min-height: 100vh;
  }
  
  .peliculaEstreno img {
    max-width: 100%;
  }
  
  .peliculaEstreno article {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    color: rgb(240, 227, 227);
    background: rgb(0, 0, 0);
  }
  
  .peliculaInfoEstreno h3 {
    margin-top: 0;
    padding: 1rem 0;
    text-align: center;
    color: goldenrod;
  }
  
  .overviewEstreno {
    background: rgb(0, 0, 0);
    padding: 0.5rem;
    font-size: small;
    color: white;
    text-align: center;
  }
  
  .overviewEstreno td {
    padding: 0.5rem;
    text-align: center;
  }
  
  .overviewEstreno h4 {
    margin: 0.3rem;
    color: goldenrod;
  }