@import url("cartelera.css");
@import url("contacto.css");
@import url("entrada.css");
@import url("nosotros.css");
@import url("index.css");

  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  /*encabezado*/
  
  header{
    height: 5rem;
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-family: autodex;
    border: solid 2px rgba(255, 255, 255, 0.5);
  }
  margin-top
  header h1{
    color: white;
   
  }
  
  header div {
    text-align: center;
  }
  
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .logo h1{
    color: rgb(255, 255, 255, 0.5);
    font-size: 3rem;
    margin: auto;
  }
  .logo h1:hover{
    color: white;
  }
  .logo:hover{
    cursor: pointer;
  }
  
  .navMenu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style-type: none;
    width: 50vw;
    margin-top: 1rem!important;
  }
  .navMenu li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 1.5rem;
  
  }
  
  .navMenu li a:hover{
    color: white;
  }
  
  .imgLogo{
    height: 4rem;
    width: 3rem;
  }