@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import url("contacto.css");
@import url("nosotros.css");
@import url("index.css");
@import url("cartelera.css");
@import url("Entrada.css");


:root {
  --primary-color: #1c2747;
  --secondary-color: #151515;
  --background-color: #6b8eaa;
  --text-color-secundary: #FFFFFF; /
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  width: 100vw;
}

.body1vh {
  height: 100vh;
}

.body2vh {
  height: 200vh;
}

section {
  width: 100%;
  background-color: var(--background-color);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 1.5rem var(--primary-color);
  padding: 20px;
}

/* Encabezado */
header {
  height: 5rem;
  background-color: var(--secondary-color);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

header div {
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo h1 {
  color: whitesmoke;
  font-size: 3rem;
  margin: auto;
}

.logo h1:hover {
  color: var(--background-color);
  cursor: pointer;
}

.navMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style-type: none;
  width: 50vw;
  margin-top: 1rem;
}


.navMenu li a {
  color: var(--text-color-secundary);
  text-decoration: none;
  font-size: 1.5rem;
  color: whitesmoke;
}

.navMenu li a:hover {
  color: var(--background-color);
}

.imgLogo {
  height: 4rem;
  width: 4rem;
}

/* Pie de página */
footer {
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border: 2px solid var(--secondary-color);
}

.socialMediaList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.socialMediaList li {
  list-style-type: none;
}

.socialMediaList li a img {
  margin: auto;
}

footer p {
  color: whitesmoke;
}

.footerImg {
  height: 2rem;
  width: 2rem;
}

.footerLogo {
  height: 3rem;
  width: 3rem;
  margin-bottom: 1rem;
}

.footerFirma {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -0.8rem;
  font-family: 'Montserrat', sans-serif;
}

.disclaimer p {
  margin: 0;
  font-size: 0.8rem;
}



.socialMediaItem {
  margin: auto;
}

a.logo-link {
  display: flex;
  text-decoration: none;
  color: inherit;
}