@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("contacto.css");
@import url("nosotros.css");
@import url("index.css");
@import url("cartelera.css");
@import url("Entrada.css");

/*paleta de colores */
:root {
  --primary-color: #35477d;
  --secondary-color: #19003a;
  --text-color: #050404;
  --background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}



.body1hv {
  height: 1vh;
}

.body2hv {
  height: 1vh;
}


section {
  width: 70%;
  background-color: var(--primary-color);
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  color: var(--text-color);
  box-shadow: 0px 0px 1.5rem var(--primary-color);
  padding: 20px;
}

/* Encabezado */

header {
  height: 5rem;
  background-color: var(--primary-color);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid var(--secondary-color);
}

header h1 {
  color: white;
}

header div {
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.logo h1 {
  color: var(--secondary-color);
  font-size: 3rem;
  margin: auto;
}

.logo h1:hover {
  color: white;
  cursor: pointer;
}

.navMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style-type: none;
  width: 50vw;
  margin-top: 1rem;
}

.navMenu li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.navMenu li a:hover {
  color: white;
}

.imgLogo {
  height: 4rem;
  width: 4rem;
}

/* Pie de página */

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border: 2px solid var(--secondary-color);
}

.socialMediaList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.socialMediaList li {
  list-style-type: none;
}

.socialMediaList li a img {
  margin: auto;
}

.footerImg {
  height: 2rem;
  width: 2rem;
}

.footerLogo {
  height: 3rem;
  width: 3rem;
  margin-bottom: 1rem;
}

.footerFirma {
  display: flex;
  align-items: center;
  margin-bottom: -0.8rem;
  font-family: 'Montserrat', sans-serif;
}

.disclaimer p {
  margin: 0;
  font-size: 0.8rem;
}

.mapa {
  height: 6rem;
  width: 12rem;
}

.socialMediaItem {
  margin: auto;
}

